# from Maven.gitignore
/tpe2-g6-parent/target/
# my own spin for this archetype
/tpe2-g6-parent/api/target/
/tpe2-g6-parent/client/target/
/tpe2-g6-parent/server/target/

# from Java.gitignore
# Compiled class file
/tpe2-g6-parent/**/*.class

# Log file
/tpe2-g6-parent/**/*.log

# Package Files #
/tpe2-g6-parent/**/*.jar
/tpe2-g6-parent/**/*.zip
/tpe2-g6-parent/**/*.tar.gz
